html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(39, 122, 255, 0.599) 50%, rgb(55, 129, 248) 50%);
  /* background-image: linear-gradient(-60deg, rgb(19, 110, 33) 50%, rgb(32, 172, 53) 50%); */
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:7s;
}

.bg3 {
  animation-duration:10s;
}

.content {

}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


.menuNav{
  position: fixed;
  width: 100%;
  /* background-color:#040404 ; */
}
.menuNav li{
  border-radius: 30px;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  background-color: aquamarine;
}