#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  /* background-color: #888; */
  /* height: 100vh; */
  height:100%;
  width: 100%;

}
::placeholder{
  color: rgb(12, 12, 12);
  font-weight: 700;
}

ul{
  list-style: none;
}
body{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,121,24,0) 0%, rgba(0, 247, 255, 0.126) 100%);
  overflow: hidden;
}

.ContenRegister{
  width: 100%;
  transform: scale(0.5);
  animation: 0.5s  1 forwards  linear movEntrada;
  opacity: 0%;
  display: flex;
 
}

@keyframes movEntrada {
  100%{transform: scale(1.0);opacity: 100%;transform: translateX(-250px);}
}
@keyframes movMovida {
  100%{transform: translateX(-250px);}
}

.Conten_campos{
  width: 100%;
  z-index: 1000;
  position: relative;
  transition: 10s;

}

.Conten_campos img {
  width:450px;
  height: 500px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.701);
}
.fondo{
  z-index: -10;
  position: absolute;
  width: 600px;
  height: 400px;
}
.f1{
  transform: rotate(40deg);
  background-color: rgba(255, 86, 218, 0.174);
  bottom: -150px;
  left: -60px;
}
.f2{
  transform: rotate(-30deg);
background-color: rgba(58, 163, 255, 0.34);
bottom: 0;
left: 200px;
}
.Registro{
  overflow: hidden;
  padding: 50px 0px 50px 0px;
  background-color: rgb(255, 255, 255);
  top: 30px;
  height: 340px;
  position: absolute;
  border-radius: 0px 40px 40px 0px;
  animation: 1s 0.5s 1 forwards  linear MovImput;
}
@keyframes MovImput {
  100%{transform: translateX(450px);}
  
}
.icon{
  width: 20px;
  position: absolute;
  z-index: 20;
  left: 20px;
  top: 15px;
}
.loginItem{
  position: relative;
}
.editedImput{
  width: 200px;
  text-align: center;
  margin: 10px ;
  height: 30px;
  position: relative;
  border:0px rgb(243, 0, 247) solid;
  border-bottom:2px rgb(59, 121, 255) solid;
  background-color: rgba(235, 213, 255, 0);
}
.login_list{
display: flex;
}
.File{
  display: none;
}
.INfile{
  background-color: rgb(134, 190, 238);
  border-radius: 10px;
  width: 80%;
  margin-left: 25px;
  cursor: pointer;
}

.buttoIMf{
background-color: rgb(251, 235, 255);
border: 1px rgb(206, 95, 197) solid;
color: black;
width: 350px;
transition: 0.5s;
cursor: pointer;
}

.buttoIMf:hover{
  background-color: rgb(233, 154, 236);
  color: rgb(255, 255, 255);
}

.circulo{
  z-index: -2;
   position: absolute;
   border-radius: 50%;
  filter: blur(25px);
}

.uno{
  backdrop-filter: blur(10px);
  width: 300px;
  height: 300px;
  background-color: rgb(140, 0, 142);
  bottom: 0;
  left: -200px;
  animation: 50s infinite alternate linear movCirculo;
}
.dos{

background-color: rgb(69, 186, 1);
width: 100px;
height: 100px;
bottom: 400px;
left:-10px;
z-index: -1;
animation: 20s infinite alternate linear movCirculo;
}
.tres{
  background-color: rgb(69, 186, 1);
  width: 100px;
  height: 100px;
  top: 0;
  right:200px;
  z-index: -1;
  animation: 40s infinite alternate linear movCirculo;
  }
  .cuatro{
    background-color: rgb(140, 0, 142);
    width: 100px;
    height: 100px;
    top: 0;
    right:300px;
    z-index: -1;
    animation: 10s infinite alternate linear movCirculo;
    
    }

@keyframes movCirculo {
20%{transform: translate(250px, 210px);}
30%{transform: translate(150px, 210px);}
40%{transform: translate(150px, 310px);}
50%{transform: translate(250px, 210px);}
60%{transform: translate(250px, 310px);}
70%{transform: translate(100px, 210px);}
80%{transform: translate(150px, 310px);}
100%{transform: translate(250px, 210px);}  
}