

.btnMovil{
  display: none;
}

@media (max-width:779px){
  .Contenedor{
    transform: scale(0.8);
  }
}
@media (max-width:715px){
  .Contenedor{
    transform: scale(0.9);
  }
}

@media (max-width:715px){

  .btnMovil{
    display: initial;
    position: absolute;
    top: -27px;
    left: 20px;
    background-color: var(--3d-fondo);
    z-index: -12;
    height: 100px;
    width: 150px;
    padding: 10px;
  }

    .regist, .login{
        font-size: large;
        margin-top:150px;
        width: 350px;
        height: 275px;
        display: inline-block;
        position: absolute;
        left: 0;
      }
      .Contenedor{
        width: 360px;
        border-radius: 20px;
        position: relative;
        z-index: 80;
      }
      .camposRegistro{
        
        width: 340px;
        transform: translate(0);
        left: 9px;
      }
      .contenCamposRegister{
        position: absolute;
        
        width: 340px;
        height:750px;
        left: 9px;
      }
      .camposlogin{
        width: 340px;
        margin-left: 9px;
      }
      
      
}
@media (max-width:360px){
  .Contenedor{
    transform: scale(0.7);
  }
}





